body {
    color: #070707;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */

  header {
    padding: 20px 35px;
    background-color: #0c0b0b;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
    color: black;
    text-shadow: 5px 5px 10px rgba(37, 36, 36, 0.5);
    background: #dd43b7;
    padding: 5px 15px;
  }

  header a {
    text-decoration: none;
    color: #42a8fc;
    border-bottom: 3px solid #dd43b7;
  }
  
  header nav {
    margin: 10px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  

  header nav ul li a {
    padding: 10px 25px;
    font-weight: light;
    font-size: 1.55vw;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
  }
  
  header nav ul li a:hover {
    background: #dd43b7;
    color: #0a0a0a;
    border-radius: 15px;
    text-shadow: none;
  }

  /* HERO STYLES START */

.hero {
    background-image: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
  }

  .hero img {
    height: 250px;
    width: auto;
    border: 3px solid #dd43b7;
    margin: 25px 40px;
  }

  .hero-tagline {
    color:black;
    border: 3px solid black;
    background-color: rgba(221, 67, 183, 0.8);
    padding: 3px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 200px 30px 30px 30px;
  }

/* ABOUT ME STYLES */

.intro {
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.intro h2 {
  font-size: 48px;
  color: #42a8fc;
  padding: 20px;
  background-color: black;
  background-size: cover;
  margin: 30px 10px 30px 100px;
  text-align: right;
}

.intro p {
  line-height: 1.7;
  color: #42a8fc;
  border-left: 6px solid #42a8fc;
  width: 70%;
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

/* ABOUT ME STYLES END */

/* WORK STYLES START */

.projects {
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.projects h2 {
  font-size: 48px;
  color: #42a8fc;
  padding: 20px;
  background-color: black;
  background-size: cover;
  margin: 30px 10px 30px 100px;
  text-align: right;
}

.all-projects {
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
  width: 70%;
  border-left: 6px solid #42a8fc;
  padding: 20px;
}

.project-one img {
  border:#dd43b7 solid 3px;
  margin: 10px;
  opacity: 60%;
  object-fit: cover;
  flex-shrink: 3;
}

.project img:hover {
  opacity: 100%
}

.project-text {
  background-color: #dd43b7;
  color: aliceblue;
  width: 30%;
  padding-bottom: 1px;
}

.all-projects h3 {
  padding: 5px 10px 0 10px;
  font-size: 24px;
}

.all-projects h4 {
  padding: 0 10px 10px 10px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 0;
}
 
.project {
  position: relative;
}

.project .project-text {
  position: absolute;
  top: 45%;
  margin: 10px;
}

.project-two img, .project-three img, .project-four img, .project-five img{
  border:#dd43b7 solid 3px;
  margin: 10px;
  opacity: 60%;
  object-fit: cover;
}


  
/* CONTACT ME STYLES START */

.contact-info {
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.contact-info h2 {
  font-size: 48px;
  color: #42a8fc;
  padding: 20px;
  background-color: black;
  background-size: cover;
  margin: 20px 10px 30px 50px;
  text-align: right;
}

.contact-info a {
  text-decoration: none;
  color: #42a8fc;
}

.anchors {
  border-left: 6px solid #42a8fc;
  width: 70%;
  margin: 0px 0px;
}

.anchors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.anchors ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: 3px solid #dd43b7
}
