:root {
  --pink: rgb(152, 36, 187);
  --black: black;
  --blue: #2bccfa;
}

body {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */

  header {
    padding: 20px 35px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 10px rgba(37, 36, 36, 0.5);
    background: var(--pink);
    padding: 5px 15px;
    border-radius: 15px;
  }
  
  header nav {
    margin: 10px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 25px;
    font-size: 1.55vw;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
    color: var(--blue);
    border-bottom: 3px solid var(--pink);
  }
  
  header nav ul li a:hover {
    background: var(--pink);
    color: var(--black);
    border-radius: 15px;
    text-shadow: none;
  }

  /* HEADER / NAV BAR STYLES END */

  /* HERO STYLES START */

.hero {
    background-image: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
  }

  .hero img {
    border: 3px solid var(--pink);
    margin: 30px;
    border-radius: 15px;
  }

  .hero-tagline {
    color:white;
    border: 3px solid white;
    background-color: rgba(152, 36, 187, 0.8);
    padding: 3px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: fit-content;
    margin: 30px;
    border-radius: 15px;
  }

/* HERO STYLES END */

/* ABOUT ME STYLES START*/

.intro {
  background-color: var(--black);
  background-size: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.flex-row {
  border-left: 6px solid var(--blue);
  flex:  70%;
  margin: 20px;
  padding: 30px 50px;
}

.flex-flow {
  flex: 30%;
}

.intro h2 {
  font-size: 48px;
  color: var(--blue);
  padding: 20px;
  background-color: var(--black);
  background-size: cover;
  text-align: right;
  flex: 1 30%;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

.intro p {
  line-height: 1.7;
  color: var(--blue);
  font-size: 20px;
  text-align: center;
  
  max-width: fit-content;
}

/* ABOUT ME STYLES END */

/* WORK STYLES START */

.projects {
  background-color: var(--black);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects h2 {
  font-size: 48px;
  color: var(--blue);
  padding: 20px;
  background-color: var(--black);
  background-size: cover;
  text-align: right;
  flex: 1 30%;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-left: 6px solid var(--blue);
  margin: 20px;
  padding: 30px 50px;
}

.project-one {
  flex: 100%;
  min-width: 100%;
  height: auto;
}

.project-one img {
  border:var(--pink) solid 3px;
  margin: 10px;
  opacity: 60%;
  object-fit: cover;
  min-width: 84%; 
  border-radius: 15px;
}

.project-two img, .project-three img, .project-four img, .project-five img {
  border:var(--pink) solid 3px;
  margin: 10px;
  opacity: 60%;
  object-fit: cover;
  border-radius: 15px;
} 

.project-one img:hover, .project-two img:hover, .project-three img:hover, .project-four img:hover, .project-five img:hover {
  opacity: 100%;
}

.project-text {
  background-color: var(--pink);
  color: white;
  width: 30%;
  padding-bottom: 1px;
} 

.all-projects h3 {
  padding: 5px 10px 0 10px;
  font-size: 20px;
} 

.all-projects h4 {
  padding: 0 10px 10px 10px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 0.7;
} 
 
.project-one, .project-two, .project-three, .project-four, .project-five {
  position: relative;
}

.project-one .project-text, .project-two .project-text, .project-three .project-text, .project-four .project-text, .project-five .project-text {
  position: absolute;
  top: 45%;
  margin: 10px;
}

/* WORK STYLES END */

/* CONTACT ME STYLES START */

.contact-info {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info h2 {
  font-size: 48px;
  color: var(--blue);
  padding: 20px;
  background-color: var(--black);
  background-size: cover;
  text-align: right;
  flex: 1 30%;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

.contact-info a {
  text-decoration: none;
  color: var(--blue);
}

.anchors {
  border-left: 6px solid var(--blue);
}

.anchors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.anchors ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: 3px solid var(--pink);
}

.anchors ul li a:hover {
  font-weight: bold;
}

/* CONTACT ME STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    padding: 0px;
  }

  header nav ul li a {
    font-size: 20px;
    line-height: 2.5;
  }

  .hero {
    justify-content: center;
  }

  .hero-img, .hero-tagline {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  
  .hero-tagline {
    text-align: center;
  }

  .intro, .projects, .contact-info {
    flex-direction: column;
    justify-content: center;
  }
  
  .intro p {
    text-align: center;
  }
  
  .flex-flow {
    align-items: center;
  }

  .intro h2, .projects h2, .contact-info h2 {
    text-align: center;
    width: 300px;
    margin: 10px auto 10px auto;
    border-bottom: var(--blue) solid 6px;
  }
  
  .all-projects {
    justify-content: center;
  }

  .all-projects.flex-row, .anchors.flex-row, .flex-row {
    border-left: var(--black) 6px solid;
  }

  .project-one {
    min-width: initial;
    max-width: 526px;
  }

  .anchors ul {
    padding: 0px;
  }

  .anchors ul li a {
    font-size: 20px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
  
  .anchors ul {
    line-height: 2.5;
  }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
  
  .project-one img, .project-two img, .project-three img, .project-four img, .project-five img {
    max-width: 300px;
    height: 200px;
  }

  .project-text {
    width: 40%;
  }

  .all-projects h3 {
    padding: 2px 3px 0px 10px;
    font-size: 15px;
  } 
  
  .all-projects h4 {
    padding: 0 10px 3px 10px;
    font-size: 12px;
    font-weight: lighter;
    line-height: 0.5;
  } 
  
  .anchors ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .anchors ul li a {
    font-size: 20px;
    line-height: 2.5;
  }
}